<ion-header *ngIf="this.searching === false">
  <ion-toolbar color="primary">
    <ion-title >Card Base</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col offsetMd="3" sizeMd="6">
        <ion-card (click)="backToSearch()">
          <ion-card-content>
            <ion-item>
              <ion-avatar  slot="start" class="img" (click)="makeChange()">
                <img *ngIf="this.user$ !== undefined" [src]="(this.user$ | async).PicUrl === ''? './assets/proba.jpg' : (this.user$ | async).PicUrl " />
              </ion-avatar>
              <ion-label class="ion-text-center"><strong>{{(this.user$ | async).Name }}</strong></ion-label>
            </ion-item>
            <ion-item class="ion-pading">
              <ion-item-divider>
                <ion-label>{{getFax((this.user$ | async).Fax)}}</ion-label>
              </ion-item-divider>
              <ion-item-divider>
                <ion-label>Posts: &nbsp; </ion-label>
                <ion-label>{{ (this.colection$ | async).length }}</ion-label>
              </ion-item-divider>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offsetMd="3" sizeMd="6">
        <ion-list>
          <ion-item-sliding *ngFor="let col of this.colection$ | async">
            <ion-item *ngIf="this.searching === false || col.Visable === true">
              <ion-label  [routerLink]="['/home', col.id]">{{col.Name}}</ion-label>
                <ion-chip  slot="end" (click)="likeCol(col.id,col.Liked)">
                    <ion-icon [name]="col.Liked"color="danger"></ion-icon>
                    <ion-label class="ion-float-right">{{ col.Likes }}</ion-label>
                </ion-chip>
            </ion-item>
            <ion-item-options  side="end">
              <ion-item-option *ngIf="this.searching === false"  color="danger" (click)="delColection(col.id)">Delete</ion-item-option>
            </ion-item-options>
            <ion-item-options  side="start">
              <ion-item-option *ngIf="this.searching === false" color="primary"  (click)="editColection(col)">Edit</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab *ngIf="this.searching === false" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-form']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="this.searching === false" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goToSearch()">
      <!--  -->
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
