.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px; 
}


.chat .chat-message {
    width: 70%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.friend .chat-message {
    background: #0523ce;

}

.self .chat-message {
    background: #2202da; 
    order: -1;

}
