<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>Edit Colection</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Colection Name</ion-label>
        <ion-input type="text" (change)="setName($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Visable</ion-label>
        <ion-toggle (change)="setVisable($event)"></ion-toggle>
      </ion-item>
      <ion-button [disabled]="this.colName === undefined || this.colName === ''" (click)="change()" color="primary">
          <ion-icon slot="start" name="create"></ion-icon>
        Change</ion-button>
      <ion-button (click)="cancle()" fill="outline" color="danger">
          <ion-icon name="close-circle-outline" slot="start"></ion-icon>
        Cancle</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
