 .galery{
     width: 100%;
     background: #eee;
     display: flex;
     flex-wrap: wrap;
     margin: auto;
 }

 .galery img{
     width: 32%;
     height: 33%;
     overflow: hidden;
     margin-top: 15px;
     margin-left: 1%;
 }