<ion-header *ngIf="this.searching === true">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button (click)="searchOff()" defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <app-homee *ngIf="this.searching === false" ></app-homee> -->
    <ion-searchbar class="ion-padding" [(ngModel)]="this.searchText" (ionInput)="search()" placeholder="Search other for users" showCancelButton="true"></ion-searchbar>
    <app-homee *ngIf="this.searching === false" [user$]="this.sUser$" [searching]="true"  (clearSearch)="clearSearch()"></app-homee>
  <ion-list *ngIf="this.searching === true">
    <!-- <ion-list-header>{{this.searchText}}</ion-list-header> -->
    <ion-item *ngFor="let user of this.resoults$ | async" (click)="openUser(user.Fax,user.id, user.PicUrl, user.Name)">
      <ion-avatar slot="start" >
        <img [src]="user.PicUrl === '' ? '../assets/proba.jpg': user.PicUrl" />
      </ion-avatar>
      <ion-label>{{user.Name}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- <app-home></app-home> -->

</ion-content>
