<ion-header *ngIf="this.loging === true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-homee *ngIf="this.loging === false" [user$]="this.user" [searching]="false"></app-homee>
  <ion-grid *ngIf="this.loging === true">
    <ion-row>
      <ion-col offsetMd="3" sizeMd="6">
    <ion-card class="ion-margin">
        <ion-card-content>
          <ion-item>
              <ion-label position="floating" [color]="errIndex">Index</ion-label>
              <ion-input type="number"maxlength="10" (focusout)="indexCheck()" [(ngModel)]="userIndex"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating" [color]="errPass">Password</ion-label>
              <ion-input type="password" maxlength="15" (focusout)="passCheck()" [(ngModel)]="userPassword"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Fakultet</ion-label>
              <ion-select placeholder="Select One" (focusout)="passCheck()" (focusout)="indexCheck()" [(ngModel)]="userFax">
                <ion-select-option value="1">Elfak</ion-select-option>
                <ion-select-option value="2">FF</ion-select-option>
                <ion-select-option value="3">DIF</ion-select-option>
              </ion-select>
            </ion-item>          
          <ion-button color="primary" (click) ="loginSetup()" class="ion-margin" [disabled]="this.isDisabled !== false">
              <ion-icon slot="start" name="add-circle-outline"></ion-icon>Login
          </ion-button>
          <ion-button [routerLink]="['/register']" fill="outline" color="dark" class="ion-margin">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>Register
        </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
