<ion-content (ionModalDidDismiss)=close()>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        Question
      </ion-card-header>
      <ion-input type="text" (change)="setQuestion($event)"></ion-input>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
        <ion-card-header>
          Answer
        </ion-card-header>
        <ion-input type="text" (change)="setAnswer($event)"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
          <ion-card-header>
              Question Img URL (optional)
          </ion-card-header>
          <ion-input type="text" (change)="setQueImg($event)"></ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
            <ion-card-header>
              Answer Img URL (optional)
            </ion-card-header>
            <ion-input type="text" (change)="setAnsImg($event)"></ion-input>
          </ion-card-content>
        </ion-card>
    <ion-button color="primary" class="ion-padding" (click)="close($event)">
        <ion-icon slot="start" name="create"></ion-icon>
      Change</ion-button>
    <ion-button color="danger"  class="ion-padding" fill="outline" color="danger" (click)="cancle()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      Cancle</ion-button>
</ion-content>