<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
    <ion-chip slot="end">
      <ion-icon  name="school"></ion-icon>
      <ion-label>{{ this.znanje}}%</ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides  pager="true" (ionSlideNextEnd)="slideRight()" (ionSlidePrevEnd)="slideLeft();">
    <ion-slide  *ngFor="let card of (cards$ | async)"  (click)="displayBack(card.id)">
      <!-- DODATI ngFor sa indeksiranjem -->
      <ion-card  class="card" color="light" >
        <ion-card-content>
          <ion-item  *ngIf="card.FrontImg !== '' ">
            <ion-img [src]="card.FrontImg"></ion-img>
          </ion-item>
          <ion-card-title class="ion-margin">{{card.FrontText}}</ion-card-title>
           <!-- napravi da bude ion text -->
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-card  >
    <ion-card-content >
      <ion-card-header>Comments</ion-card-header>
      <ion-list >
        <ion-item-divider *ngFor="let coment of (this.coments$ | async)">
          <ion-item >
            <ion-thumbnail>
              <img [src]="coment.UserPic">
            </ion-thumbnail>
            <ion-text >
                <h3 class="ion-no-padding" style=" color : rgba(24, 39, 124, 0.795)">  &nbsp; &nbsp; {{ coment.NameUser}}</h3>
                <h5 class="ion-padding-bottom" class="ion-text-wrap">  &nbsp; &nbsp;{{ coment.Coment }}</h5>
              </ion-text>
          </ion-item>
        </ion-item-divider>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-content>
      <ion-item>
        <ion-label position="floating" >Your comment</ion-label>
        <ion-input  type="text"maxlength="300" [(ngModel)]="comentText"></ion-input>
      </ion-item>
      <ion-button  [disabled]="comentText === undefined || comentText === ''" slot="start" (click)="makeComent()">comment
          <ion-icon slot="end" name="paper-plane"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-fab *ngIf="searchCheck()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="trash" color="danger" (click)=deleteAlert()></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="create" color="tertiary" (click)="editCard()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="add" color="success" (click)="addCard(this.cards$)"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
          <ion-icon name="done-all" color="primary" (click)="cardLearned()"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>