
.login-page {
   
    width: 100%;
    height: 100%;
}
.login-page img {
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.login-card {
    align-self: center;
    position: absolute;
    left: 40%;
    top: 100px;
    width: 300px;
    height: 350px;
    margin: 100px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 4px #eee;
}

.login-page button {
    display: block;
    width: 95%;
    height: 50px;
    margin: 5px auto;
    border-radius: 5px;
    background: rgb(134, 23, 134);
    color: white;
}