body{
    background: rgb(21, 21, 100)
}
.obsticle{
    position: fixed;
    background: red;
    height: 200px;
    width: 200px;
    z-index: 2;
}
.obsticle.big{
    transition: width 4s  ease-in,  height 4s ease-in;
    height: 500px;
    width: 500px;
}
.play-field {
    position: fixed;
    border-radius: 50%;
    width: 700px;
    height: 700px;
    left: 50%;
    top: 50%;
    margin-left:-350px;
    margin-top: -350px;
    background: white;
    z-index: 1;
}