.toolbar{
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    background-color: #521751;
    height: 56px; 
    z-index: 100;
}
.toolbar_logo{
    margin-left: 1rem;
}
.toolbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.spacer{
    flex: 1;
}
.toolbar .input {
    
    width: 230px;
    height: 25px;
    padding: 0 5px;
    font-size: 18px;
    border-radius: 5px;
    transition: width 0.3s ease-out;
}
.toolbar .input.close {
    padding: 0 0;
    width: 0;
    border: none;
}
.toolbar .resoults{
    width: 228px;
    height: 250px;
    right: 52px;
    top: 40px;
    background: white;
    position: fixed;
    transition: height 0.3s ease-out;
}
.toolbar .resoults.close{
    height: 0;
    display: none;
}
.toolbar_navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.toolbar_navigation_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_navigation_items li{
    padding: 0 .5rem;

}

.toolbar_navigation_items i{
    font-size: 20px;
    color: white;
}

.toolbar_navigation_items a{
    color: white;
    text-decoration: none;

}
.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active{
    color: #fa923f;
}