<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="retUser()"></ion-back-button>
    </ion-buttons>
    <ion-title >Card Base</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col offsetMd="3" sizeMd="6">
        <ion-card>
          <ion-card-content>
            <ion-item>
              <ion-avatar  slot="start" class="img" (click)="makeChange()">
                <img *ngIf="(this.user$[0] | async)" [src]="(this.user$[0] | async).PicUrl"  />
              </ion-avatar>
              <ion-label class="ion-text-center"><strong *ngIf="(this.user$[0] | async)">{{(this.user$ | async)[0].Name }}</strong></ion-label>
            </ion-item>
            <ion-item class="ion-pading">
              <ion-item-divider>
                <ion-label *ngIf="(this.user$[0] | async)">{{(this.user$ | async)[0].Fax}}</ion-label>
              </ion-item-divider>
              <ion-item-divider>
                <ion-label>Posts: &nbsp; </ion-label>
                <ion-label >{{ (this.colection$ | async).length }}</ion-label>
              </ion-item-divider>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offsetMd="3" sizeMd="6">
        <ion-list>
          <ion-item-sliding *ngFor="let col of (colection$ | async)">
            <ion-item *ngIf="searchCheck()">
              <!-- <ion-reorder slot="start"></ion-reorder> -->
              <ion-label  [routerLink]="['/home', col.ColId]">{{col.Name}}</ion-label>
                <ion-chip  slot="end" (click)="likeCol(col.ColId)">
                    <ion-icon [name]="col.Liked"color="danger"></ion-icon>
                    <ion-label class="ion-float-right">{{ col.Likes }}</ion-label>
                </ion-chip>
              <!-- <ion-badge color="tertiary" slot="end">44%</ion-badge> -->
            </ion-item>
            <ion-item-options  side="end" >
              <ion-item-option *ngIf="searchCheck()"  color="danger" (click)="delColection(col.ColId)">Delete</ion-item-option>
            </ion-item-options>
            <ion-item-options  side="start">
              <ion-item-option *ngIf="searchCheck()" color="primary"  (click)="editColection(col.ColId,col.Name,col.Visable)">Edit</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab *ngIf="searchCheck()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-form']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="searchCheck()" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['../search']"  >
      <!--  -->
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- <ion-item *ngFor="let col of colections"> {{col.name}}</ion-item> -->