
.post-form{
    width: 550px;
    box-shadow: 2px 3px #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 40px auto;
    background: #fff;
    
}

.post-form textarea {
    background: #fbfbfb;
    width: 85%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
    margin-top: 15px;
    box-sizing: unset;
}
.pic-btn {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

.pic-btn button{
    background: #5d0d6d;
    padding: 3px 15px;
    font-size: 20px;
    color: #fff;
    border: none;
    margin: 5px 43px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #9a01b8;
    cursor: pointer;
    height: 30px;
}

.pic-btn i {
    padding: 13px 5px;
    font-size: 20px;
}

.pic-btn input {
    height: 30px;
    margin-top: 8px; 
    margin-left: 15px;
    border: none;
}
