.profile-liks {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.profile-liks .spacer {
    flex-grow: 1;
}

.profile-liks .line {
    height: 15px;
    width: 1px;
    background: #222;
    margin: auto;

}
.profile-liks i{
    padding: 10px 55px;
    font-size: 20px;
}
.profile-liks i:hover {
    background: rgb(226, 225, 225);
    cursor: pointer;
}

.add-frend {
    position: fixed;
    top: 0;
    left: 50%;
    margin-top: 34px;
    margin-left: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    background: transparent;
    color: transparent;
    text-align: center;
}

.add-frend:hover {
    color: white;
}

.add-frend p {
    margin: 50% auto;
}

.toolbar{
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    background-color: #521751;
    height: 56px; 
    z-index: 100;
}

.toolbar_navigation{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_navigation i{

    color: white;
}