
body{
    width: 99%;
    height: 100%;
    font-family: sans-serif;
    background: #0e1c42;
    text-align: center;
    overflow: auto;
}

input {
    margin: 20px auto;
    height: 24px;
    width: 340px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 20px;

}

.background{
    
    width: 100%;
    height: 100%;
    overflow: auto;
}


.question-container {
    height: 100px;
    width: 350px;
    margin: 30px auto;
    background: rgb(109, 109, 182);
    border-radius: 3px;
    box-shadow: 2px 3px #eee;
    cursor: pointer;
}

.question {
    margin: 0;
    font-size: 20px;
    color: wheat;
    padding-left: 15px;
    padding-top: 15px;
    overflow: hidden;              
    -o-text-overflow: ellipsis;  
    text-overflow:    ellipsis;
}

.info{
    display: flex;
    flex-direction: row;
}

.user-name {
    font-size: 14px;
    color: wheat;
    padding: 10px 15px;
}
.question-date {
    font-size: 14px;
    color: wheat;
    padding: 10px 15px;
}
.spacer{
    flex-grow: 1;
}

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    position: fixed;
    left: 0;
    top: 0;
}

.backdrop.closed {
    display: none;
}

.modal {
   
    position: fixed;
    left: 50%;
    top: 0;
    margin-top: 10%;
    margin-left: -250px;
    width: 500px;
    height: 70%;
    background: whitesmoke;
    border-radius: 10px;
    text-align: center;

}
.modal.closed {
    display: none;
}

.a-container{
    margin: 0;
    height: inherit;
    overflow: auto;
}

.question-modal {
    font-size: 24px;
    margin: 40px auto;
}

.a-container p {
    font-size: 16px;
    margin: 20px auto;
    padding: 30px 100px;

}
.a-container p:hover {
    background: #0e1c42;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    color: white;
}

.form textarea {
    width: 340px;
    height: 30px;
    margin: 5px auto;
    resize: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: 10px auto;

}

.buttons button{
    width: 120px;
    height: 24px;
    border: none;
}

.buttons spacer{
    flex-grow: 1;
}