body{
    margin: 0;
    width: 100%;
    height: 54rem;
    text-align: center;
    overflow: hidden;
}

.background{
    background: #0e1c42;
    width: 100%;
    height: 100%;
}

.singup-link {
    width: 350px;
    height: 70px;
    margin : 20px auto;
    text-align: center;
    background: pink;
    box-sizing: border-box;

}
.singup-link:hover {
    background: rgb(243, 209, 214);
}
.singup-link a{
    text-decoration: none;
    font-size: 30px;
    margin:  30px auto;
    cursor: pointer;
}

.sing-in{
    height: 24px;
    font-size: 20px;
    width: 340px;
    margin: 0 auto;
    transition: height 0.3s ease-in;
}
.sing-in.hiden {
    height: 0;
    border: none;
    padding: 0 0;
}

.link-spacer{
    height: 10%;
}

.meniItem{
   border-top: 20px;
    border-bottom: 20px;
}
#filler{
    height: 42px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.middle{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1 ;
    flex: 1 1 1;
    background-color: brown;
}

.display{
    display: flex;
    flex-direction: column;
    background-color: cyan;
    height: 100%;
    flex-grow: 1 ;
}
.item{
    display: flex;
    flex-direction: column;
}

.heder{
    position: fixed;
    text-align: justify;   
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #0e1c42;
    box-shadow: 0 0 1px rgba(0,0,0,0.7);
    padding-right: 16px;
    z-index: 100001;
    line-height: 0;
}

.right{
    width: 200px;
    background-color: royalblue;
}
.meni{
    box-sizing: border-box;
    left: 0;
    width: 100px;
    padding: 0;
    margin: 0;
    background-color: #292d3a;
}