.side-drawer {
    height: 100%;
    background-color: white;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    text-align: center;
}
.side-drawer.open {
    transform: translateX(0);
}
.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.drawer-profile {
    text-align: center;
}
.drawer-profile .line {
    width: 90%;
    border-top: 2px solid #222;
    margin: 20px auto;
}
.drawer-profile strong {
    color: white;
}
.drawer-profile{
    margin: 0 auto;
    padding: 15px 0;
    background: #2e082d;
}

.side-drawer p {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem; 
    margin: 15px auto;
    padding: 15px 30px;
}

.side-drawer p:hover,
.side-drawer p:active {
    background: #eeeeee;
}

