.info-card {
    width: 500px;
    height: 400px;
    box-shadow: 2px 4px #666;
    border-radius: 3px; 
    background: rgb(199, 199, 212);
    margin:  60px auto;
    
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-top: 44px;
    padding-left: 30px; 
}

.container p {
    font-family: sans-serif;
    font-size: 20px;
    color: #521751;
    margin-left: 10px;
}
.container label {
    font-family: sans-serif;
    font-size: 20px;
    color: #521751;
}

.container input {
    height: 26px;
    margin-left: 10px;
    padding-left: 5px; 
}