.profile {
    text-align: center;
}
.profile .line {
    width: 90%;
    border-top: 2px solid #222;
    margin: 20px auto;
}
.profile strong {
    color: white;
}
.profile{
    margin: 0 auto;
    padding: 15px 0;
    background: #2e082d;
}
