.card {
    width: 550px;
    box-shadow: 2px 3px #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 30px auto;
    background: #fff;
}

.card-header {
    width: 80%;
    height: 20%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 15px 15px;
    padding-top: 15px
}

.card-content img{
    width: 100%;
 
}
.card-content p{
    margin: 10px 15px;
}
.user-name {
    padding: 15px;
    margin: 5px 10px 0;
}

.card-content .line {
    width: 95%;
    border-top: 2px solid rgb(122, 122, 122);
    margin: 20px auto;
}

.like i{
    font-size: 28px;
    color: rgb(204, 28, 28);
    margin-bottom: 0;
    cursor: pointer;
}
.like i p{
    font-size: 18px;
    color: white;
}
.like i:hover p {
    
    color: black;
}

.like .like-nmb{

    margin: 8px auto;
    width: 45px;
    height: 20px;
    font-size: 18px;
    color: white;
    cursor: default;
}


.like .like-nmb:hover{
    color: black;
}
