
.friend-list-el {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 90%;
    margin: 12px auto;
}

.friend-list-el p {
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    font-size: 20px;
}

.list-spacer {
    flex-grow: 1;
}